---
let registered = Astro.url.searchParams.get("registered") === "true";
let error = Astro.url.searchParams.get("error");
---

<p class="text-black" >newsletter</p>
<p style="margin-top: 1rem; font-size:.9rem;" class=" text-neutral-400 font-normal " >Get notified when I publish new posts.</p>

<form style="margin-top: 1rem;"
  method="POST"
  class="font-mono font-medium isolate flex items-center pr-1 mt-1"
>
  <div class="relative h-11 min-w-[200px]">
    <input
      type="email"
      name="email"
      placeholder="Your email address"
      class="peer h-full w-full border-b border-neutral-200 bg-transparent pt-4 pb-1.5
                     font-sans text-sm font-normal text-black outline outline-0 transition-all
                     placeholder-shown:border-neutral-200 focus:border-neutral-500 focus:outline-0
                     disabled:border-0 disabled:bg-neutral-50 "
    />

  </div>
  <button
    type="submit"
    class="font-mono font-medium ml-3 mt-3 text-sm  text-neutral-600"
  >
  subscribe

  </button>
</form>
{
  registered && (
    <p class="text-sm sm:text-xs font-mono text-black">you've triggered a loop!</p>
  )
}
{error && <p class="text-sm sm:text-xs font-mono text-red-500">{error}</p>}

