---
let registered = Astro.url.searchParams.get("registered") === "true";
let error = Astro.url.searchParams.get("error");
---

<p class="text-black" >newsletter</p>
<p style="margin-top: 1rem; font-size:.9rem;" class=" text-neutral-400 font-normal " >I also write short emails where I share stories, experiences and my bookmarks.</p>

<form style="margin-top: 1.5rem; display: flex; align-items: center;" method="POST">
  <div class="relative h-11 min-w-[200px]">
    <input
      type="email"
      name="email"
      placeholder="Your email address"
      style="border: 1px solid #fffdfd; background: transparent; text-align: left; padding: 0 8px; "
       class="  h-full w-full font-mono font-medium text-sm  text-neutral-400"
    />
  </div>
  <button
    type="submit"
    style="margin-left: 10px;  text-align: center;"
    class="font-mono font-medium text-sm  text-neutral-700"
  >
    subscribe
  </button>
</form>
<!-- {
  registered && (
    <p class="text-sm sm:text-xs font-mono text-black">you've triggered a loop!</p>
  )
}
{error && <p class="text-sm sm:text-xs font-mono text-red-500">{error}</p>} -->

